/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * beastbuilders implementation : © Sunwolf Studios, Inc. info@beastbuildersgame.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * beastbuilders.css
 *
 * beastbuilders stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (beastbuilders_beastbuilders.tpl), and to HTML elements you create dynamically
    (in beastbuilders.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */

.hidden {
    display: none !important;
}

#pagemaintitle_wrap {
    height: auto; /* core library bugfix or-what??? */
}

#board {
    padding: 12px;
    position: relative;
}

.image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper img {
    width: 100%;
}

/*
    #board {
        width: 536px;
        height: 528px;
        background-image: url('img/board.jpg');
        position: relative;
    }

    .square {
        width: 62px;
        height: 62px;
        position: absolute;
    }

    .disc {
        width: 56px;
        height: 56px;
        position: absolute;
        background-image: url('img/tokens.png');
        background-size: auto 100%;
    }
    .disc[data-color="ffffff"] { background-position-x: 0%; }
    .disc[data-color="000000"] { background-position-x: 100%; }

    .possibleMove {
        background-color: white;
        opacity: 0.2;
        cursor: pointer;
    }
*/

/**
 * PLAYERS/BEASTS
 */
#player-tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1220px;
    min-height: 248px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.player-table {
    text-align: center;
    position: relative;
}

#unassigned-characters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}
#unassigned-characters .player-mat {
    cursor: pointer;
}

.player-mat-wrapper {
    position: relative;
}

.player-mat {
    flex-grow: 1;
    position: relative;
}



.player-beast .beast-sections {
    display: flex;
    margin-bottom: 8px;
    margin-top: 8px;
    gap: 8px;
}
.player-beast .beast-sections .section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-beast .player-mat {
    position: absolute;
    top: 0;
    left: 0;
}

.player-beast .empty-background {
    /*border: dotted 2px #333;*/
    border-radius: 8px;
    width: 100%;
    min-height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-beast .empty-background strong {
    position: absolute;
}

/**
 * BIOMES
 */
#biome-deck {
    position: relative;
    display: flex;
    padding: 8px 20px;
    border: solid 2px grey;
    border-radius: 40px;
    gap: 8px;
    background-color: rgba(255,255,255,0.6);
}
.biome-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}
.biome-label {
    margin-bottom: 8px;
    font-weight: bold;
}
.biome-card {
    min-height: 160px;
}
.biome-card.card-1 {
    z-index: 5;
}
.biome-card.card-2 {
    z-index: 4;
}
.biome-card.card-3 {
    z-index: 3;
}
.biome-card.card-4 {
    z-index: 2;
}
.biome-card.card-5 {
    z-index: 1;
}

/**
 * ANIMALS
 */
#current-player-hand {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 8px 20px;
    border: solid 2px grey;
    border-radius: 40px;
    gap: 8px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    margin-top: 12px;
}
#current-player-hand .content {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.player-board .animal-wrapper {
    position: absolute;
    z-index: 10;
}
.animal-wrapper {
    flex-grow: 1;
    max-width: 200px;
    cursor: pointer;
    position: relative;
}
.animal-card {
    min-height: 280px;
    margin-top: 8px;
}

/* @TODO: USE SINGLE SPRITE-STYLE IMAGE FOR EFFICIENT LOADING */
.biome-card.cave {
    background-image: url('img/biomes/cave-600w.png');
}
.biome-card.jungle {
    background-image: url('img/biomes/jungle-600w.png');
}
.biome-card.lake {
    background-image: url('img/biomes/lake-600w.png');
}
.biome-card.open-ocean {
    background-image: url('img/biomes/open-ocean-600w.png');
}
.biome-card.plateau {
    background-image: url('img/biomes/plateau-600w.png');
}
.biome-card.hidden-biome {
    background-image: url('img/biomes/biome-back-420w.png');
}

.animal-card.poison-dart-frog {
    background-image: url('img/animals/herptile/300w/poison-dart-frog-300w.png');
}
.animal-card.giant-panda {
    background-image: url('img/animals/mammal/300w/giant-panda-300w.png');
}
